

/* tech section */

#technologies .tech container{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20;
}
#technologies .tech-top{
    padding: 100px 0;
}
#technologies .tech-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2px;
}
#technologies .tech-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color:#485563;
    background-size: cover;
    margin: 10px 5%;
    position:relative;
    z-index: 1;
}
#technologies .tech-items{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    background-color:#485563;
    background-size: cover;
    margin: 10px 5%;
    position:relative;
    z-index: 1;
}
#technologies .tech-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom:20px;
}
#technologies .tech-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-decoration: uppercase;
}
#technologies .tech-item p{
    color:white;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: justify;
}

#technologies .tech-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom:20px;
}
#technologies .tech-items h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-decoration: uppercase;
}